body {
    background: url(beerpic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title {
    color:red;
}

#subtitle {
    color:red;
}

#findtitle {
    color:red;
}

.cities:hover {
    color:red;
}

#first {
    display:none;
}

#second {
    display:none;
}