@font-face {
    font-family: boldviking;
    src: url(Norse-Bold.otf);
}

@font-face {
    font-family: viking;
    src: url(Norse.otf);
}

body {
    background: url(beerpic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:2000px;
}

#title {
    margin-top:100px;
    text-align:center;
    font-size:108px;
    color:black;
    font-family:boldviking;
    text-shadow:0 0 10px red;
}

#subtitle {
    margin-top:100px;
    text-align:center;
    color:black;
    font-size:56px;
    font-family:boldviking;
    text-shadow:0 0 7px red;
}

#listdiv {
    margin-top:50px;
    text-align:center;
}

.cities:hover {
    color:red;
}

#dropdownMenu1{
    margin-top:50px;
    width:220px;
    background-color: white;
    border: #6D361F 5px solid;
    box-shadow: 0 0 10px red;
    font-size:28px;
    font-family:boldviking;
    color:#6D361F;
    text-shadow:0 0 2px red;
}

#dropdownlist{
    margin-left:auto;
    margin-right:auto;
    float:none;
    position:relative;
    max-width:220px;
    font-size:24px;
    font-family:viking;
    color: #6D361F;
}

#message {
    margin-top:100px;
    margin-bottom:30px;
    text-align:center;
    text-shadow: 0 0 10px red;
    font-size:84px;
    font-family:boldviking;
    color:white;
}

#datadiv {
    font-size:48px;
    font-family:viking;
    text-align:center;
    position:relative;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;
    height:auto;
    width:100%;
    background-color:#6D361F;
    border: white 5px solid;
    box-shadow:0 0 5px black;
    color:white;
    text-shadow: 0 0 10px red;
}

.nametitle a {
    font-size:56px;
    font-family:viking;
    text-decoration:underline;
    color:white;
    text-shadow: 0 0 10px red;
}

#googleAPI {
    position:relative;
    height:400px;
    width:90%;
}