@font-face {
    font-family: boldviking;
    src: url(Norse-Bold.otf);
}

@font-face {
    font-family: viking;
    src: url(Norse.otf);
}

body {
    background: url(beerpic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title {
    margin-top:100px;
    text-align:center;
    font-size:108px;
    color:black;
    font-family:boldviking;
    text-shadow:0 0 10px red;
}

#subtitle {
    margin-top:100px;
    text-align:center;
    color:black;
    font-size:56px;
    font-family:boldviking;
    text-shadow:0 0 7px red;
}

#listdiv {
    margin-top:50px;
}

#listdiv {
    text-align:center;
}

.cities:hover {
    color:red;
}

#dropdownMenu1{
    margin-top:50px;
    width:220px;
    background-color: white;
    border: #6D361F 5px solid;
    box-shadow: 0 0 10px red;
    font-size:28px;
    font-family:boldviking;
    color:#6D361F;
    text-shadow:0 0 2px red;
}

#dropdownlist{
    left:480px;
    font-size:24px;
    font-family:viking;
    color: #6D361F;
}


#message {
    margin-top:100px;
    margin-bottom:10px;
    text-align:center;
    text-shadow: 0 0 2px red;
    font-size:32px;
    font-family:viking;
    color:black;
}

#datacontent {
    margin-bottom:-250px;
    color:black;
}

#blockdiv {
    position:relative;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;
    height:auto;
    width:60%;
    background-color:#6D361F;
    border: white 5px solid;
    box-shadow:0 0 5px black;
    color:white;
}

#picdiv {
    padding-right:80px;
}

#datadiv {
    margin-top:3%;
    padding-left:40px;
    padding-right:0px;
}

.pic {
    position:relative;
    width:150px;
    height:150px;
    border: white 2px solid;
}

.picloc {
    margin-top:15%;
    margin-bottom:15%;
    margin-left:15%;
    height:90%;
}

.nametitle {
    font-size:16px;
    font-weight:bold;
    text-decoration:underline;
    color:white;
}

.nametitle a {
    font-size:32px;
    font-family:viking;
    text-decoration:underline;
    text-shadow: 1px 1px 1px black;
    color:white;
}